body{
    background: linear-gradient(to right, rgb(6, 6, 17), rgb(6, 43, 189));
}
#dest{
    
                
                color: rgb(32, 4, 46);
                            border-radius: 20px;
                            font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
                float: center;
                text-align: center;
                margin-top: 250px;
                padding: 5px;
                margin : 0;
             
               
                font-size: 50px;
            }
            #dest2{
                
                            
                            color: rgb(255, 255, 255);
                                        border-radius: 20px;
                                        font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
                            float: center;
                            text-align: center;
                            margin-top: 250px;
                            padding: 5px;
                            margin : 0;
                         
                           
                            font-size: 30px;
                        }
                        